<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">推荐电影管理</a></li>
            <li><a href="#">修改推荐电影</a></li>
        </ul>
    </div>

    <div class="formbody">

        <div class="formtitle"><span>基本信息</span></div>
        <!--注意：要实现文件上传则要更换表单编码格式为流媒体格式
              即将表单默认编码格式:  application/x-www-form-urlencoded(键值对)
                   更改为流媒体格式：multipart/form-data
            -->
        <form enctype="multipart/form-data" action="/hotupdate" method="post">
            <ul class="forminfo">
                <li><label>电影名称</label><input type="hidden" name="_id" value="<%=mdata[0]._id%>" id=""> <input value="<%=mdata[0].title %>" name="title" type="text" class="dfinput" /><i>歌手不能超过30个字符</i></li>
                <li><label>电影描述</label><input value="<%=mdata[0].detail %>" name="detail" type="text" class="dfinput" /><i>歌手不能超过30个字符</i></li>
                <li><label>VIP是否免费</label><input type="radio" name="vip" <% if(mdata[0].vip=='VIP免费' ){ %> checked
                    <% } %> value="VIP免费">是<input <% if(mdata[0].vip=='VIP付费' ){ %> checked
                        <% } %> type="radio" name="vip" value="VIP付费">否</li>
                <li><label>画质</label><input type="radio" <% if(mdata[0].definition=='标清' ) { %> checked
                    <% } %> name="definition" value="标清">标清
                        <input type="radio" name="definition" <% if(mdata[0].definition=='超清' ) { %> checked
                        <% } %> value="超清">超清
                            <input type="radio" name="definition" <% if(mdata[0].definition=='蓝光' ) { %> checked
                            <% } %> value="蓝光">蓝光</li>
                <li> <img style="width: 150px;height: 150px;" src="<%=mdata[0].img %>"> </li>
                <li><label>电影封面</label><input name="img" type="file" class="dfile" /><i>请选择文件</i></li>
                <li><label>&nbsp;</label><input type="submit" class="btn" value="确认修改" /></li>
            </ul>
        </form>


    </div>


</body>

</html>