<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>暴风VIP会员,暴风商城,暴风影音</title>
    <link href="css/index.css" rel="stylesheet">
    <link href="css/public.css" rel="stylesheet">
    <link rel="stylesheet" href="css/layer.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/layer.js"></script>
</head>

<body>
    <div class="header-all">
        <div class="container">
            <a href="index.html" class="logo"></a>

            <ul class="top-links">
                <li>
                    <a href="index.html" target="_blank">暴风首页</a>
                </li>
                <li>
                    <a href="">个人中心</a>
                </li>

                <li>
                    <a href="" target="_blank">开通VIP</a>
                </li>
                <li>
                    <a onclick="reg()" style="cursor: pointer">注册</a>
                </li>
                <li>
                    <a id="login" onclick="login()" style="cursor: pointer">登录</a>
                </li>

            </ul>
        </div>
    </div>


    <div class="nav container">
        <ul class="nav-bar">
            <li>
                <a href="/">首页</a>
            </li>
            <li>
                <a class="active" href="list.html">点播片库</a>
            </li>
            <li><a href="">激活码兑换</a></li>
        </ul>
    </div>







    <!--  内容 -->
    <div class="content bg-white">
        <ul class="filter">
            <li class="current"><a href="">全部</a></li>
            <li><a href="">VIP会员免费</a></li>
            <li><a href="">VIP折扣点播</a></li>
        </ul>

        <ul class="classify">
            <li class="current" id="menu1"><a style="cursor: pointer">最近更新</a></li>
            <li id="menu2"><a style="cursor: pointer">最受欢迎</a></li>
        </ul>

        <div class="yingpian container">
            <ul class="film-pictures clearfix" id="list">
                <% for(let i=0;i<upArr.length;i++) {%>
            <li>
                            <a href="" target="_blank">
                                <div class="film-type for-vip-only"></div>
                                <div class="film-quality-tip">
                                    <div class="film-quality-layer"></div>
                                    <div class="film-quality-txt"><%=upArr[i].definition %></div>
                                </div>
                                <img src="<%=upArr[i].img %>">
                            </a>
                            <div class="film-text">
                                <h3><a href="" target="_blank"><%=upArr[i].title %></a></h3>
                                <h4><%=upArr[i].detail %></h4>
                                <div class="film-score">
                                    <span class="num"><%=upArr[i].score %></span> </div>
                            </div>
                        </li> 
                        <% } %>

            </ul>

            <ul class="film-pictures clearfix" id="list2" style="display: none">
                    <% for(let i=0;i<likeArr.length;i++) {%>
                <li>
                            <a href="" target="_blank">
                                <div class="film-type for-vip-only"></div>
                                <div class="film-quality-tip">
                                    <div class="film-quality-layer"></div>
                                    <div class="film-quality-txt"><%=likeArr[i].definition %></div>
                                </div>
                                <img src="<%=likeArr[i].img %>">
                            </a>
                            <div class="film-text">
                                <h3><a href="" target="_blank"><%=likeArr[i].title %></a></h3>
                                <h4><%=likeArr[i].detail %></h4>
                                <div class="film-score">
                                    <span class="num"><%=likeArr[i].score %></span> </div>
                            </div>
                        </li> 
                        <% } %>

            </ul>

        </div>
    </div>


    <!-- 加载数据  -->


    <!-- 加载数据  -->

    <script src='js/common.js'></script>
    <script>
        var list = document.getElementById("list")
        var list2 = document.getElementById("list2")
        var menu1 = document.getElementById("menu1")
        var menu2 = document.getElementById("menu2")

        ajax("", "get", "data/data2.json", function(str) { //服务器启动
            var num = JSON.parse(str);
            for (var attr in num) {
                if (attr == "update") {
                    for (var i = 0; i < num[attr].length; i++) {
                        // var con = "<li><span><img src='" + num[attr][i].img + "'></span><p>" + num[attr][i].title + "</p></li>"
                        var con2 = "<li id='list_li'><a href='video.html'><div class='film-type for-vip-free' style='background-position: -110px 0;'></div><div class='film-quality-tip'><div class='film-quality-layer'></div><div class='film-quality-txt'>" + num[attr][i].definition + "</div></div><img src='" + num[attr][i].img + "'> </a> <div class = 'film-text' ><h3> <a href='video.html' target = '_blank'>" + num[attr][i].title + "</a></h3><h4>" + num[attr][i].detail + "</h4> <div class = 'film-score' ><span class = 'num' >" + num[attr][i].score + "</span></div></div></li>"
                        list.innerHTML += con2;
                        console.log(num[attr][i])

                    }
                }

                if (attr == "favorite") {
                    for (var i = 0; i < num[attr].length; i++) {
                        // var con = "<li><span><img src='" + num[attr][i].img + "'></span><p>" + num[attr][i].title + "</p></li>"
                        var con3 = "<li id='list_li'><a href='video.html'><div class='film-type for-vip-free' style='background-position: -110px 0;'></div><div class='film-quality-tip'><div class='film-quality-layer'></div><div class='film-quality-txt'>" + num[attr][i].definition + "</div></div><img src='" + num[attr][i].img + "'> </a> <div class = 'film-text' ><h3> <a href='video.html' target = '_blank'>" + num[attr][i].title + "</a></h3><h4>" + num[attr][i].detail + "</h4> <div class = 'film-score' ><span class = 'num' >" + num[attr][i].score + "</span></div></div></li>"
                        list2.innerHTML += con3;
                        console.log(num[attr][i])

                    }
                }

            }
        })

        menu1.onclick = function() {
            list.style.display = "block"
            list2.style.display = "none";
            menu1.className = "current"
            menu2.className = ""
        }

        menu2.onclick = function() {
            list2.style.display = "block"
            list.style.display = "none"
            menu2.className = "current"
            menu1.className = ""
        }
    </script>




    <div class="foot-layer">
        <div class="highlight-line"></div>
        <div class="vip-btm-links">
            <ul class="btm-links">
                <li>
                    <em class="new"></em>
                    <h5>新手指南</h5>
                    <a href="" target="_blank">什么是VIP，如何购买</a>
                    <a href="" target="_blank">暴豆说明</a>
                    <a href="" target="_blank">登录与注册</a>
                </li>
                <li>
                    <em class="vip"></em>
                    <h5>特权问题</h5>
                    <a href="" target="_blank">VIP特权</a>
                    <a href="" target="_blank">VIP权限设置</a>
                    <a href="" target="_blank">如何购买付费点播影片</a>
                </li>
                <li>
                    <em class="pay"></em>
                    <h5>付款方式</h5>
                    <a href="" target="_blank">VIP购买支付流程</a>
                    <a href="" target="_blank">优惠劵的查看与使用</a>
                    <a href="" target="_blank">支付常见问题解答</a>
                </li>
                <li class="last-child">
                    <em class="QA"></em>
                    <h5>其他问题</h5>
                    <a href="" target="_blank">常见问题解答</a>
                    <a href="" target="_blank">VIP会员服务协议</a>
                    <a href="" target="_blank">暴风论坛</a>
                </li>
            </ul>
        </div>
        <div class="highlight-line"></div>
        <div class="vip-rights">
            <p>VIP专属客服 QQ：800111739 电话：4000987846（周一至周日9:30-18:30）</p>
            <p>暴风集团股份有限公司 </p>
            <p>
                <a href="" target="_blank">京ICP证070364号</a>&nbsp;&nbsp;
                <a href="" target="_blank">京网文【2014】0921-221号</a>&nbsp;&nbsp;
                <a href="" target="_blank">互联网药品信息服务资格证书(京)-非经营性-2008-0039</a>&nbsp;&nbsp;
                <a href="" target="_blank">广播电视节目制作经营许可证：(京)字第01166号</a></p>
            <p><a href="javascript:void(0);" style="text-decoration: none;">京公网安备：11010802904415</a>&nbsp;&nbsp;
                <a href="" target="_blank">信息网络传播视听许可证号：0108298</a></p>
        </div>
    </div>
    <div class="go-top-bar" style="height: 54px;">
        <a href="javascript:void(0)" onclick="return false;" class="go-top" title="回到顶部">回到顶部</a>
    </div>
</body>

</html>