.header-all {
  width: 100%;
  height: 64px;
  background: url(../img/bgs.png) 0 0 repeat-x;
  border-bottom: 1px solid #c7c4c5;
  -moz-box-shadow: 0 1px 3px #d8d7d7;
  -webkit-box-shadow: 0 1px 3px #d8d7d7;
  box-shadow: 0 1px 3px #d8d7d7;
}
.header-all .logo {
  display: block;
  width: 191px;
  height: 39px;
  float: left;
  margin: 12px 18px 6px;
  text-decoration: none;
  background: url(../img/logo.png) no-repeat;
}
.header-all .top-links {
  float: right;
  width: 500px;
  height: 30px;
  margin: 17px 7px;
  position: relative;
}
.header-all .top-links li {
  display: inline;
  font-size: 12px;
  line-height: 30px;
  color: #686868;
}
.header-all .top-links a {
  display: block;
  height: 30px;
  float: right;
  margin: 0 15px;
  color: #686868;
  text-decoration: none;
}
.header-all .top-links a:hover {
  color: #0b68c8;
}
.container {
  width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}
.nav {
  width: 1100px;
  height: 38px;
  margin: 0 auto;
  padding-top: 2px;
  background: #000000;
}
.nav .nav-bar {
  float: left;
  padding-left: 44px;
}
.nav .nav-bar li {
  float: left;
  width: 115px;
  height: 38px;
  line-height: 38px;
  color: #fff;
  font-size: 14px;
  font-family: "微软雅黑";
  text-align: center;
}
.nav .nav-bar li a {
  display: block;
  width: 115px;
  height: 38px;
  text-decoration: none;
  color: #fff;
}
.nav .nav-bar li .active {
  background: #0b68c8;
  cursor: default!important;
}
.lunbo {
  width: 1100px;
  height: 440px;
  margin-bottom: 30px;
  margin: auto;
  background: #ddd;
  position: relative;
}
.lunbo a.focusmap-l-arr,
.lunbo a.focusmap-r-arr {
  z-index: 10;
  position: absolute;
  top: 198px;
  display: block;
  width: 43px;
  height: 43px;
  background-image: url(../img/vip-tips.png);
  background-repeat: no-repeat;
  opacity: .7;
  filter: alpha(opacity=70);
  outline: 0;
}
.lunbo a.focusmap-l-arr {
  background-position: 0 -50px;
  left: 55px;
}
.lunbo a.focusmap-r-arr {
  background-position: -43px -50px;
  right: 55px;
}
.lunbo .banner_img {
  width: 100%;
  height: 440px;
  position: relative;
}
.lunbo .banner_img img {
  position: relative;
  display: none;
}
.lunbo .banner_img img:nth-child(1) {
  display: block;
}
.lunbo .menu {
  width: 100%;
  height: 70px;
  position: absolute;
  left: 0;
  bottom: 0;
  cursor: pointer;
  background: url(../img/tips.png) 0 -100px;
  text-align: center;
}
.lunbo .menu ul {
  display: inline-block;
  width: auto;
  height: 50px;
  padding: 10px 0 10px 8px;
}
.lunbo .menu ul li {
  display: inline-block;
  width: 68px;
  height: 50px;
  margin-right: 8px;
  position: relative;
  background: #000;
}
.part1 {
  width: 1100px;
  height: auto;
  margin: auto;
  margin-top: 30px;
  position: relative;
}
.part1 h2 {
  font-size: 24px;
  color: #000;
  margin-bottom: 15px;
}
.part1 .roller {
  width: 1100px;
  height: 111px;
  margin-bottom: 30px;
  position: relative;
}
.part1 .roller .roll-left,
.part1 .roller .roll-right {
  display: block;
  width: 15px;
  height: 26px;
  position: absolute;
  top: 42px;
  background: url(../img/bgs.png) 0 -124px no-repeat;
  overflow: hidden;
  outline: 0;
}
.part1 .roller .roll-left {
  left: 0px;
}
.part1 .roller .roll-right {
  right: 0;
  background-position: -15px -124px;
}
.part1 .roller .roller-box {
  width: 1060px;
  height: 111px;
  overflow: hidden;
  position: relative;
  margin: 0 0 0 20px;
}
.part1 .roller .roller-box .roller-box-wrap {
  position: relative;
  left: 0px;
  width: 10000px;
  height: 111px;
}
.part1 .roller .roller-box .roller-box-wrap li {
  display: inline-block;
  width: 200px;
  height: 111px;
  margin-right: 11px;
  background-image: url(../img/powers.png);
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: -9999px;
}
.part1 .roller .roller-box .roller-box-wrap li:nth-child(1) {
  background-position: 0 0;
}
.part1 .roller .roller-box .roller-box-wrap li:nth-child(2) {
  background-position: -200px 0;
}
.part1 .roller .roller-box .roller-box-wrap li:nth-child(3) {
  background-position: -400px 0;
}
.part1 .roller .roller-box .roller-box-wrap li:nth-child(4) {
  background-position: -600px 0;
}
.part1 .roller .roller-box .roller-box-wrap li:nth-child(5) {
  background-position: -800px 0;
}
.part1 .roller .roller-box .roller-box-wrap li:nth-child(6) {
  background-position: -1000px 0;
}
.part1 .roller .roller-box .roller-box-wrap li:nth-child(7) {
  background-position: -1200px 0;
}
.part1 .roller .roller-box .roller-box-wrap li:nth-child(8) {
  background-position: -1400px 0;
}
.part1 .roller .roller-box .roller-box-wrap li:nth-child(9) {
  background-position: -1600px 0;
}
.part1 .roller .roller-box .roller-box-wrap li:nth-child(10) {
  background-position: -1800px 0;
}
.ad {
  width: 1100px;
  margin: auto;
  height: 80px;
  margin-bottom: 30px;
}
.yingpian {
  margin-bottom: 35px;
}
.yingpian .title {
  width: 100%;
  height: 39px;
}
.yingpian .title h2 {
  font-size: 24px;
  color: #000;
  margin-bottom: 15px;
  float: left;
}
.yingpian .title a.more-films {
  display: block;
  float: right;
  font-size: 12px;
  font-family: "宋体";
  color: #000;
  text-decoration: none;
  line-height: 20px;
  margin-top: 7px;
  margin-right: 5px;
}
.yingpian .title a:hover {
  color: #0b68c8;
}
.yingpian .film-pictures {
  display: block;
  float: left;
}
.yingpian .film-pictures li {
  float: left;
  width: 205px;
  height: 337px;
  margin-right: 18px;
  margin-bottom: 30px;
}
.yingpian .film-pictures li a {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}
.yingpian .film-pictures li a .for-vip-free {
  width: 72px;
  background-position: -110px 0;
}
.yingpian .film-pictures li a .film-quality-layer {
  position: absolute;
  right: 7px;
  bottom: 7px;
  width: 28px;
  height: 18px;
  background: #000;
  opacity: .7;
  filter: alpha(opacity=70);
}
.yingpian .film-pictures li a .film-quality-txt {
  position: absolute;
  right: 7px;
  bottom: 7px;
  width: 28px;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  font-family: "宋体";
  color: #fff;
  text-align: center;
  overflow: hidden;
}
.yingpian .film-pictures li a img {
  display: block;
  width: 205px;
  height: 287px;
}
.yingpian .film-pictures li a .film-type {
  position: absolute;
  top: 7px;
  left: 10px;
  display: block;
  height: 18px;
  background: url(../img/tips.png) no-repeat;
  overflow: hidden;
}
.yingpian .film-pictures li a .for-vip-only {
  width: 72px;
  background-position: -110px 0;
}
.yingpian .film-pictures li .film-text {
  display: block;
  width: 205px;
  height: 50px;
  font-family: "微软雅黑";
  word-break: break-all;
  word-wrap: break-word;
  position: relative;
}
.yingpian .film-pictures li .film-text h3 {
  font-size: 14px;
  color: #000;
  width: 168px;
  height: 20px;
  margin-top: 4px;
  line-height: 20px;
  overflow: hidden;
}
.yingpian .film-pictures li .film-text h3 a {
  display: block;
  width: auto;
  height: 20px;
  overflow: hidden;
  color: #000;
  text-decoration: none;
}
.yingpian .film-pictures li .film-text h4 {
  font-size: 12px;
  color: #999;
  width: 168px;
  height: 18px;
  line-height: 18px;
  overflow: hidden;
  font-weight: 400;
}
.yingpian .film-pictures li .film-text .film-score {
  position: absolute;
  bottom: 20px;
  right: 0;
  color: #f60;
  width: 50px;
  height: 30px;
  line-height: 30px;
  text-align: right;
  font-family: Georgia;
  font-size: 16px;
}
.yingpian .film-pictures li .film-text .film-score .num {
  font-size: 20px;
}
.yingpian .film-pictures li:last-child {
  margin-right: 0px;
}
.foot-layer {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.foot-layer .highlight-line {
  width: 1100px;
  height: 0;
  margin: 0 auto;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #fff;
}
.foot-layer .vip-btm-links {
  width: 1100px;
  height: 100px;
  margin: 55px auto 40px;
  overflow: hidden;
}
.foot-layer .vip-btm-links ul.btm-links {
  width: 1150px;
  padding-left: 48px;
  margin-right: -100px;
  height: 100px;
  font-family: "微软雅黑";
}
.foot-layer .vip-btm-links ul.btm-links li {
  display: block;
  float: left;
  width: 144px;
  height: 100px;
  margin-right: 80px;
  border-right: 1px solid #dedede;
  padding-left: 61px;
  position: relative;
}
.foot-layer .vip-btm-links ul.btm-links li h5 {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  font-weight: 700;
}
.foot-layer .vip-btm-links ul.btm-links li a {
  float: left;
  clear: left;
  white-space: nowrap;
  display: block;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  color: #000;
  text-decoration: none;
}
.foot-layer .vip-btm-links ul.btm-links li em {
  display: block;
  width: 51px;
  height: 51px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/powers.png) 0 -111px;
}
.foot-layer .vip-btm-links ul.btm-links li em.new {
  background-position: 0 -111px;
}
.foot-layer .vip-btm-links ul.btm-links li em.vip {
  background-position: -51px -111px;
}
.foot-layer .vip-btm-links ul.btm-links li em.pay {
  background-position: -102px -111px;
}
.foot-layer .vip-btm-links ul.btm-links li em.QA {
  background-position: -153px -111px;
}
.foot-layer .vip-rights {
  width: 1100px;
  height: 96px;
  margin: 55px auto 70px;
  overflow: hidden;
  line-height: 24px;
  text-align: center;
  color: #999;
  font-size: 12px;
}
.foot-layer .vip-rights a {
  text-decoration: none;
  color: #999;
}
.foot-layer .vip-rights a:hover {
  text-decoration: underline;
}
.go-top-bar {
  position: fixed;
  right: 0;
  bottom: 22px;
  overflow: hidden;
  width: 54px;
  height: 113px;
}
.go-top-bar a {
  display: block;
  width: 52px;
  height: 52px;
  background: #fbfbfb url(../img/icon_new.png) no-repeat;
  border: #dcdbdb 1px solid;
  text-indent: -9999px;
  overflow: hidden;
}
.go-top-bar a:hover {
  background: #2a8bdf url(../img/icon_new.png) -52px 0px no-repeat;
  border: #2a8bdf 1px solid;
}
.content {
  width: 1100px;
  margin: auto;
}
.bg-white {
  background: #fff;
  width: 1076px;
  padding: 0 12px;
  border-bottom: 1px solid #dedede;
  margin-bottom: -1px;
  height: auto;
  margin-bottom: 30px;
}
.bg-white .filter {
  width: 1000px;
  height: 28px;
  padding: 20px 0 30px;
}
.bg-white .filter li {
  display: inline-block;
}
.bg-white .filter li a {
  display: block;
  float: left;
  width: auto;
  height: 28px;
  line-height: 28px;
  margin-right: 10px;
  padding: 0 21px;
  text-align: center;
  color: #000;
  font-size: 12px;
  text-decoration: none;
}
.bg-white .filter li.current a {
  background: #0b68c8;
  color: #fff!important;
  cursor: default!important;
}
.bg-white .classify {
  height: 40px;
  border: 1px solid #dedede;
  background: #f8f8f8;
  margin-bottom: 30px;
}
.bg-white .classify li {
  display: inline-block;
}
.bg-white .classify li a {
  display: block;
  float: left;
  width: auto;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-family: "微软雅黑";
  text-align: center;
  color: #0b68c8;
  padding: 0 36px;
  text-decoration: none;
  margin-left: -1px;
}
.bg-white .classify li.current a {
  position: relative;
  background: #fff;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  border-top: 4px solid #0b68c8;
  margin-top: 0;
  height: 37px;
  line-height: 37px;
  color: #000;
  cursor: default!important;
}
#list_li {
  margin-right: 12px;
}
.v_top {
  position: fixed;
  height: 55px;
  background-color: #242428;
  z-index: 100;
  width: 100%;
}
.v_top .newhead-main {
  position: relative;
  width: 1378px;
  height: 55px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}
.v_top .newhead-main .logo {
  display: block;
  width: 119px;
  height: 29px;
  float: left;
  margin-top: 14px;
  background-image: url(../img/playicons.png?v=1560935594962);
  background-repeat: no-repeat;
  background-position: -181px -124px;
  text-indent: -9999px;
  overflow: hidden;
}
.v_top .newhead-main .newhead-small-nav {
  width: 284px;
  height: 40px;
  float: left;
  margin-top: 14px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.v_top .newhead-main .newhead-small-nav a {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: #989898;
  height: 30px;
  line-height: 30px;
  text-align: right;
  width: 64px;
  overflow: hidden;
}
.v_top .newhead-main .newhead-small-nav a:hover {
  color: #1a9eff;
}
.v_top .newhead-main .newhead-small-nav .menu-guide {
  width: 70px;
  padding-top: 0;
  padding-right: 24px;
  padding-bottom: 0;
  padding-left: 0;
  background-image: url(../img/indexicons.png?v=1560935594962);
  background-repeat: no-repeat;
  background-position: -306px -554px;
}
.v_top .search-main {
  position: relative;
  width: 570px;
  height: 30px;
  margin-top: 14px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  float: left;
  z-index: 3;
}
.v_top .search-main .search {
  width: 572px;
  float: left;
}
.v_top .search-main .search .bar-shadow {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 475px;
  height: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background-color: #383a42;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 5;
}
.v_top .search-main .search form {
  position: relative;
  z-index: 10;
}
.v_top .search-main .search form input {
  border: 0;
  font-size: 12px;
  background-color: transparent;
  outline: 0;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.v_top .search-main .search form .search-bar {
  width: 475px;
  height: 30px;
  line-height: 30px;
  text-indent: 20px;
  color: #989898;
  font-size: 12px;
  float: left;
}
.v_top .search-main .search form .search-btn {
  width: 87px;
  height: 30px;
  line-height: 40px;
  background-image: url(../img/playicons.png?v=1560935594962);
  background-repeat: no-repeat;
  background-position: -115px -40px;
  cursor: pointer;
  text-align: center;
  float: left;
  text-indent: -9999px;
  overflow: hidden;
}
.v_top .newhead-right {
  position: relative;
  width: 272px;
  height: 40px;
  float: right;
  margin-top: 10px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.v_top .newhead-right a {
  font-size: 12px;
  font-weight: 400;
  color: #989898;
}
.v_top .newhead-right a.tit {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 14px;
  background-image: url(../img/playicons.png?v=1560935594962);
  background-repeat: no-repeat;
  padding-top: 24px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0;
  margin-right: 12px;
  margin-bottom: 0;
  margin-left: 12px;
  text-align: center;
  float: right;
  z-index: 999;
  overflow: hidden;
}
.v_top .newhead-right a.viewed {
  background-position: -116px 0;
}
.v_top .newhead-right a.collection {
  background-position: -172px -1px;
  margin-left: 22px;
}
.v_top .newhead-right a.download {
  width: 56px;
  background-position: -209px -1px;
  margin-right: 20px;
}
.v_top .newhead-right .login-con {
  width: 56px;
  float: right;
}
.v_top .newhead-right .login-register {
  position: relative;
  display: block;
  width: 60px;
  height: 14px;
  padding-top: 24px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  background-image: url(../img/playicons.png?v=1560935594962);
  background-repeat: no-repeat;
  background-position: -266px 0;
  font-size: 12px;
  font-weight: 400;
  color: #989898;
  text-align: center;
  float: right;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 8px;
  overflow: hidden;
}
.play-box {
  width: 100%;
  height: 811px;
  background-color: #383a42;
}
.play-box .main {
  position: relative;
  width: 1380px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 55px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  overflow: hidden;
}
.play-box .main .title {
  float: left;
  margin-bottom: 15px;
}
.play-box .main .title h2 {
  font-size: 16px;
  font-weight: lighter;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 5px;
}
.play-box .main .title p {
  font-size: 14px;
  font-weight: 400;
  color: #989898;
}
.play-box .main .title p em {
  display: inline-block;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 10px;
}
.play-box .main .title p a {
  font-size: 14px;
  font-weight: 400;
  color: #989898;
}
.play-box .main .play {
  position: relative;
  width: 1380px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  overflow: hidden;
}
.play-box .main .play .left {
  position: relative;
  width: 1060px;
  height: 634px;
  float: left;
  background-color: #000;
  overflow: hidden;
}
.play-box .main .play .right {
  width: 320px;
  height: 634px;
  background-color: #242428;
  border-top-right-radius: 3px;
  overflow: hidden;
  float: left;
}
.play-box .main .play .right .menu {
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 12px;
  height: 634px;
  overflow: scroll;
}
.play-box .main .play .right .menu .jieshao {
  position: relative;
  width: 280px;
  height: 128px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  overflow: hidden;
}
.play-box .main .play .right .menu .jieshao .img {
  position: relative;
  width: 96px;
  height: 128px;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 0;
  float: left;
}
.play-box .main .play .right .menu .jieshao .img .icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 44px;
  height: 44px;
  background-image: url(../img/viplogo.png?v=1560935594962);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.play-box .main .play .right .menu .jieshao .info {
  width: 162px;
  float: left;
  font-size: 14px;
  font-weight: 400;
  color: #d4d4d4;
}
.play-box .main .play .right .menu .jieshao .info .name {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
}
.play-box .main .play .right .menu .jieshao .info .name .score {
  float: right;
  color: #de0000;
  font-size: 16px;
}
.play-box .main .play .right .menu .jieshao .buy-five {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 16px;
  font-weight: 400;
  color: #d4d4d4;
}
.play-box .main .play .right .menu .jieshao .buy-five a {
  font-size: 16px;
  font-weight: 400;
  color: #3d9bfc;
  margin-top: 0;
  margin-right: 6px;
  margin-bottom: 0;
  margin-left: 0;
}
.play-box .main .play .right .menu .pay-style {
  width: 280px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  overflow: hidden;
}
.play-box .main .play .right .menu .pay-style .vip-buybtn {
  display: block;
  width: 204px;
  height: 46px;
  line-height: 46px;
  background-color: #1a9eff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}
.play-box .main .play .right .menu .pay-style .vip-paybtn {
  width: 280px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}
.play-box .main .play .right .menu .pay-style .vip-pay-code {
  text-align: center;
  margin-top: 12px;
}
.play-box .main .play .right .menu .pay-style .vip-pay-code p {
  font-size: 14px;
  margin-top: 6px;
  font-weight: 400;
  color: #aeaeae;
}
.play-box .main .play-scenes-list {
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  overflow: hidden;
}
.play-box .main .play-scenes-list .current-num {
  width: 268px;
  font-size: 14px;
  font-weight: 400;
  color: #b3b3b3;
  height: 14px;
  line-height: 14px;
  background-image: url(../img/indexicons.png?v=1560935594962);
  background-repeat: no-repeat;
  background-position: -396px -208px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 12px;
  overflow: hidden;
}
.play-box .main .play-scenes-list .vip-recommend-list {
  width: 280px;
  margin-top: -6px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  overflow: hidden;
}
.play-box .main .play-scenes-list .vip-recommend-list a {
  font-size: 14px;
  font-weight: 400;
  color: #b3b3b3;
}
.play-box .main .play-scenes-list .vip-recommend-list dd {
  width: 280px;
  height: 78px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 15px;
  margin-left: 0;
  font-size: 0;
  overflow: hidden;
}
.play-box .main .play-scenes-list .vip-recommend-list dd .vip-recommend-img {
  position: relative;
  width: 104px;
  height: 78px;
  float: left;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 0;
}
.play-box .main .play-scenes-list .vip-recommend-list dd .vip-recommend-img a {
  font-size: 14px;
  font-weight: 400;
  color: #b3b3b3;
}
.play-box .main .play-scenes-list .vip-recommend-list dd .vip-recommend-img .vip-icon {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 35px;
  height: 35px;
  background-image: url(../img/viplogo.png?v=1560935594962);
  background-repeat: no-repeat;
  background-position: -60px 0;
}
.play-box .main .play-scenes-list .vip-recommend-list dd .vip-recommend-info {
  width: 156px;
  float: left;
}
.play-box .main .play-scenes-list .vip-recommend-list dd .vip-recommend-text {
  margin-top: 10px;
}
.play-box .main .play-scenes-list .vip-recommend-list dd .vip-recommend-text a {
  font-size: 12px;
}
.play-box .main .play-scenes-list .vip-recommend-list dd .vip-recommend-text a:hover {
  color: #1a9eff;
}
.play-box .main .play-scenes-list .play-download {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 320px;
  height: 46px;
  float: right;
  background-image: url(../img/play_download.png?v=1560935594962);
  background-repeat: no-repeat;
  background-position: 0 0;
  text-indent: -9999px;
}
.play_main {
  position: relative;
  width: 1380px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 50px;
  padding-left: 0;
  margin-top: 30px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  overflow: hidden;
}
.play_main .left {
  width: 980px;
  float: left;
  height: auto;
}
.play_main .left .title {
  width: 100%;
  height: 32px;
  line-height: 32px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 16px;
  margin-left: 0;
  overflow: hidden;
}
.play_main .left .title .module-tit {
  font-size: 26px;
  font-weight: 400;
  color: #191919;
  background-image: url(../img/indexicons.png?v=1560935594962);
  background-repeat: no-repeat;
  background-position: -396px -202px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 15px;
  float: left;
}
.play_main .left .cnxh_list {
  width: 1000px;
  height: 595px;
  float: left;
  display: inline;
  overflow: hidden;
  margin-bottom: 45px;
}
.play_main .left .cnxh_list li {
  width: 180px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
}
.play_main .left .cnxh_list li .poster-src {
  width: 180px;
  height: 240px;
  position: relative;
}
.play_main .left .cnxh_list li .poster-src img {
  border-radius: 5px;
}
.play_main .left .cnxh_list li .poster-src .hot-pic-shadow {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background: url(../img/textbg.png) no-repeat;
  position: absolute;
  bottom: -112px;
  left: 0;
  width: 180px;
  height: 52px;
}
.play_main .left .cnxh_list li .poster-src .hot-pic-fv {
  position: absolute;
  bottom: 0;
}
.play_main .left .cnxh_list li .hot-text {
  width: 100%;
  height: 39px;
  padding-top: 9px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  overflow: hidden;
}
.play_main .left .cnxh_list li .hot-text .hot-pic-tit {
  height: 18px;
  line-height: 18px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 6px;
  margin-left: 0;
  overflow: hidden;
}
.play_main .left .cnxh_list li .hot-text .hot-pic-tit .score {
  float: right;
  font-size: 14px;
  color: #fc4413;
  height: 18px;
  line-height: 18px;
  font-weight: 400;
}
.play_main .left .cnxh_list li .hot-text .hot-pic-tit .score {
  float: right;
  font-size: 14px;
  color: #fc4413;
  height: 18px;
  line-height: 18px;
  font-weight: 400;
}
.play_main .left .cnxh_list li .hot-text .hot-pic-tit .hot-pic-name {
  display: inline-block;
  float: left;
  width: 144px;
  height: 18px;
  line-height: 18px;
  font-size: 14px;
  color: #191919;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}
.play_main .left .cnxh_list li .hot-text .hot-pic-tip {
  width: 100%;
  height: 15px;
  line-height: 15px;
  font-size: 12px;
  color: #989898;
  text-align: left;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}
.play_main .left .cnxh_list li .hot-pic-text {
  position: absolute;
  bottom: 50px;
  width: 174px;
  height: 25px;
  line-height: 25px;
  color: #fff;
  font-size: 12px;
  z-index: 8888;
  text-align: right;
}
.play_main .left .cnxh_list li .hot-pic-text a {
  color: #ffffff;
}
.play_main .left .cnxh_list li .fv-add-no {
  display: inline-block;
  width: 15px;
  height: 11px;
  background-image: url(../img/indexicons.png?v=1560935594962);
  background-repeat: no-repeat;
  background-position: -290px -370px;
  position: absolute;
  bottom: 55px;
  left: 5px;
  display: none;
  z-index: 999999999;
  margin-bottom: 4px;
  margin-left: 6px;
}
.play_main .left .cnxh_list li .fv-add-no:hover {
  background-position: -254px -370px;
}
.play_main .left .cnxh_list li:hover .fv-add-no {
  display: block;
}
.play_main .left .news-movie-box .mov_left {
  width: 780px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: -20px;
  margin-left: 0;
  float: left;
  overflow: hidden;
  position: relative;
}
.play_main .left .news-movie-box .mov_left .module-tit-more {
  display: inline-block;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 30px;
  font-size: 14px;
  line-height: 36px;
}
.play_main .left .news-movie-box .mov_left ul li {
  width: 180px;
  float: left;
  margin-right: 20px;
}
.play_main .left .news-movie-box .mov_left ul li .news-list-picbox {
  position: relative;
  width: 180px;
  height: 135px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
}
.play_main .left .news-movie-box .mov_left ul li .news-list-picbox .news-list-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 180px;
  height: 52px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background: url(../img/textbg.png) no-repeat;
  z-index: 2;
}
.play_main .left .news-movie-box .mov_left ul li .news-list-title {
  position: absolute;
  left: 8px;
  bottom: 8px;
  z-index: 3;
}
.play_main .left .news-movie-box .mov_left ul li .news-list-title a {
  display: block;
  color: #fff;
  font-size: 12px;
  overflow: hidden;
}
.play_main .left .news-movie-box .mov_left ul li:nth-child(4) {
  margin-right: 0px;
}
.play_main .left .news-movie-box .mov_left ul li:nth-child(8) {
  margin-right: 0px;
}
.play_main .left .news-movie-box .mov_right {
  width: 180px;
  float: right;
}
.play_main .left .news-movie-box .mov_right .module-tit-more {
  display: inline-block;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 30px;
  font-size: 14px;
  line-height: 36px;
}
.play_main .left .news-movie-box .mov_right .play-movie-list {
  width: 180px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: -15px;
  margin-left: 0;
}
.play_main .left .news-movie-box .mov_right .play-movie-list .line dt {
  height: 20px;
  line-height: 20px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 13px;
  margin-left: 0;
}
.play_main .left .news-movie-box .mov_right .play-movie-list .line dt .score {
  float: right;
  font-size: 14px;
  font-weight: 400;
  color: #fc4413;
}
.play_main .left .news-movie-box .mov_right .play-movie-list .line dt .icon-num {
  float: left;
  width: 14px;
  height: 14px;
  line-height: 14px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  background-color: #989898;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  margin-top: 3px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.play_main .left .news-movie-box .mov_right .play-movie-list .line dt .hot-movie-tit {
  font-size: 14px;
  width: 130px;
  height: 20px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 5px;
  word-wrap: break-word;
  word-break: break-all;
  display: inline-block;
  overflow: hidden;
}
.play_main .left .news-movie-box .mov_right .play-movie-list .line dd {
  display: none;
  height: 135px;
  line-height: 135px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
}
.play_main .left .news-movie-box .mov_right .play-movie-list .line dd .hot-movie-details {
  position: relative;
  width: 180px;
  height: 135px;
}
.play_main .left .news-movie-box .mov_right .play-movie-list .line dd .hot-movie-details .hot-movie-pic {
  width: 180px;
  height: 135px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.play_main .left .news-movie-box .mov_right .play-movie-list .line dd .hot-movie-details .movie-text-shadow {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 180px;
  height: 30px;
  background-color: #000;
  opacity: .5;
  filter: alpha(opacity=50);
}
.play_main .left .news-movie-box .mov_right .play-movie-list .line dd .hot-movie-details .hot-pic-text {
  position: absolute;
  left: 30px;
  bottom: 0;
  width: 130px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
}
.play_main .left .news-movie-box .mov_right .play-movie-list .line dd .hot-movie-details .hot-pic-text a {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.play_main .left .news-movie-box .mov_right .play-movie-list .line dd .hot-movie-num {
  position: absolute;
  left: 10px;
  bottom: 7px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  background-color: #1a9eff;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  overflow: hidden;
  z-index: 9;
}
.play_main .right {
  width: 380px;
  float: right;
}
.play_main .right .play-tit-module {
  width: 100%;
  height: 32px;
  line-height: 32px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 16px;
  margin-left: 0;
  overflow: hidden;
}
.play_main .right .play-tit-module .module-tit {
  font-size: 26px;
  font-weight: 400;
  color: #191919;
  background-image: url(../img/indexicons.png?v=1560935594962);
  background-repeat: no-repeat;
  background-position: -396px -202px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 15px;
  float: left;
}
.play_main .right .play-tit-module .module-tit em {
  font-size: 14px;
}
.play_main .right .play-tit-module .comments-words-tips {
  float: right;
  font-size: 14px;
  color: #7f7f7f;
  line-height: 40px;
}
.play_main .right .play-tit-module .comments-words-tips em {
  color: #1a9eff;
}
.play_main .right .play-comments-area {
  width: 380px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  position: relative;
  font-size: 12px;
  font-weight: 400;
  color: #7d7d7d;
}
.play_main .right .play-comments-area .play-comments-input {
  display: block;
  width: 368px;
  height: 102px;
  line-height: 22px;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 0;
  resize: none;
  overflow: hidden;
}
.play_main .right .play-submit-comments {
  width: 380px;
  height: 30px;
  line-height: 30px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 0;
}
.play_main .right .play-submit-comments .submit-comments-btn {
  float: right;
}
.play_main .right .play-submit-comments .submit-comments-btn .submit-btn {
  display: block;
  width: 82px;
  height: 30px;
  line-height: 30px;
  background-color: #1a9eff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}
.play_main .right .play-submit-comments .submit-comments-vcode {
  float: left;
}
.play_main .right .play-submit-comments .submit-comments-vcode input {
  border: #c8c8c8 1px solid;
  font-size: 12px;
  font-weight: 400;
  color: #7d7d7d;
}
.play_main .right .play-submit-comments .submit-comments-vcode .vcode-input {
  display: inline-block;
  float: left;
  width: 78px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.play_main .right .play-submit-comments .binding-phone {
  width: 100%;
  text-align: right;
  float: left;
  font-size: 12px;
  font-weight: 400;
  color: #7d7d7d;
}
.play_main .right .play-submit-comments .binding-phone a {
  color: #1a9eff;
  text-decoration: underline;
}
.play_main .right .play-comments-sort {
  position: relative;
  width: 100%;
  height: 35px;
  border-bottom: #e8e8e8 1px solid;
  margin-top: 35px;
}
.play_main .right .play-comments-sort .comments-sort-main {
  position: absolute;
  left: 0;
  top: 0;
  width: 156px;
  height: 36px;
}
.play_main .right .play-comments-sort .comments-sort-main a {
  display: inline-block;
  float: left;
  width: 78px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #191919;
  border-bottom: transparent 1px solid;
}
.play_main .right .play-comments-sort .comments-sort-main a.cur,
.play_main .right .play-comments-sort .comments-sort-main a:hover {
  color: #1a9eff;
  border-bottom: #1a9eff 1px solid;
}
.play_main .right .play-comments-con {
  width: 100%;
  overflow: hidden;
}
.play_main .right .play-comments-con ul li {
  position: relative;
  width: 380px;
  padding-top: 15px;
  padding-right: 0;
  padding-bottom: 15px;
  padding-left: 0;
  border-bottom: #b6b6b6 1px solid;
  color: #404040;
  font-size: 12px;
  overflow: hidden;
}
.play_main .right .play-comments-con ul li .comments-user-info {
  width: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 18px;
  margin-left: 0;
  overflow: hidden;
}
.play_main .right .play-comments-con ul li .comments-user-info .users-head {
  width: 32px;
  height: 32px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
  float: left;
}
.play_main .right .play-comments-con ul li .comments-user-info .users-head a {
  display: inline-block;
  cursor: default;
}
.play_main .right .play-comments-con ul li .comments-user-info .users-head a img {
  width: 32px;
  height: 32px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
}
.play_main .right .play-comments-con ul li .comments-user-info .user-info {
  float: left;
}
.play_main .right .play-comments-con ul li .comments-user-info .user-info .users-name {
  font-size: 14px;
  font-weight: 400;
  color: #191919;
}
.play_main .right .play-comments-con ul li .comments-user-info .user-info .comments-time {
  font-size: 12px;
  font-weight: 400;
  color: #989898;
  margin-top: 2px;
}
.play_main .right .play-comments-con ul li .users-comments {
  width: 380px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  font-size: 14px;
  font-weight: 400;
  color: #5e5e5e;
  line-height: 20px;
  overflow: hidden;
}
.play_main .right .play-comments-con ul li .comments-line {
  color: #d8d8d8;
  height: 15px;
  line-height: 15px;
  overflow: hidden;
}
.play_main .right .play-comments-con ul li .comments-line .comments-support {
  float: right;
}
.play_main .right .play-comments-con ul li .comments-line .comments-support .icon-support {
  display: inline-block;
  float: left;
  width: 15px;
  height: 15px;
  background-image: url(../img/playicons.png?v=1560935594962);
  background-repeat: no-repeat;
  background-position: -286px -190px;
  margin-top: 0;
  margin-right: 5px;
  margin-bottom: 0;
  margin-left: 0;
}
.play_main .right .play-comments-con ul li .comments-line .comments-support .comments-support-num {
  display: inline-block;
  width: 30px;
}
.play_main .right .play-comments-con ul li .comments-line .play-comments-report {
  float: right;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
  display: none;
}
.play_main .right .play-comments-con ul li .comments-line .play-comments-report:hover {
  color: #1a9eff;
}
.play_main .right .play-comments-con ul li .comments-line:hover .play-comments-report {
  display: block;
}
.play_main .right .turn-page {
  width: 380px;
  margin-top: 20px;
}
.play_main .right .turn-page .tur-page-fill {
  float: left;
}
.play_main .right .turn-page .tur-page-fill .fill-num {
  width: 28px;
  height: 18px;
  line-height: 18px;
  display: inline-block;
  border: #d8d8d8 1px solid;
  float: left;
  text-align: center;
}
.play_main .right .turn-page .tur-page-fill span {
  display: inline-block;
  float: left;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 4px;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
}
.play_main .right .turn-page .tur-page-fill .confirm {
  display: inline-block;
  float: left;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 20px;
  width: 58px;
  height: 18px;
  line-height: 18px;
  border: #d1d2d2 1px solid;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  color: #747474;
}
.play_main .right .turn-page .tur-page-fill .confirm:hover {
  color: #1a9eff;
  border-color: #1a9eff;
}
.play_main .right .turn-page .turn-page-btn {
  float: right;
}
.play_main .right .turn-page .turn-page-btn a {
  display: inline-block;
  float: left;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 20px;
  width: 58px;
  height: 18px;
  line-height: 18px;
  border: #d1d2d2 1px solid;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  color: #747474;
}
.play_main .right .turn-page .turn-page-btn .js_next:hover {
  color: #1a9eff;
  border-color: #1a9eff;
}
.play_main .right .turn-page .turn-page-btn .unclick {
  cursor: default;
  color: #dadada;
}
.footer {
  width: 1380px;
  margin: 0 auto;
  padding-bottom: 15px;
  font-size: 14px;
  overflow: hidden;
}
.footer p.links {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 12px;
  padding-left: 0;
  border-top: 1px solid #1a9eff;
  overflow: hidden;
}
.footer p {
  text-align: center;
  line-height: 30px;
  color: #989898;
}
.footer p a {
  color: #989898;
  padding: 0 6px;
}
.footer p a:hover {
  text-decoration: underline;
  color: #989898;
}
